@model WebApplication2.Models.User

@{
    ViewData["Title"] = "Profile";
}

<h1>Details</h1>

<div>
    @*<p>
        <a asp-action="Create" asp-route-id="@model.Id.Posts">New Post</a>
    </p>*@
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Post</th>
                    <th>Description</th>
                    <th>Posted on</th>
                </tr>
                @foreach (var item in Model.Posts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageURL)
                        <div>
                            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" alt="first pangolin image" height="42" width="42">
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedOn)
                    </td>
                </tr>
        }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
